* {box-sizing: border-box}

.container {
  padding: 10px;
 
}


input[type=text], input[type=password] {
    width: 50%;  
   padding: 15px; 
   margin: 5px 0 22px 0; 
   display: inline-block; 
  border: none;
  background: #cea4a4;
  border-radius: 10px; 
}

input[type=phone] {
  width: 50%; 
  padding: 15px; 
  margin: 5px 0 22px 0; 
  display: inline-block; 
 border: none;
 background: #c59393;
 border-radius: 10px; 
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #20bb6d;
  outline: none;
  
}


/* hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
 
} */


hr {
  border: 1px solid #8b8b8b;
  margin-bottom: 25px;
  max-width: 60%;
  
}



.registerbtn {
  background-color: #0c0e0d;
  color: rgb(230, 205, 137);
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
  opacity: 0.9;
  border-radius: 10px;
}

.registerbtn:hover {
  background-color:  #8b8888;

}

a {
  color: dodgerblue;
}


.container signin {
 
  text-align: center;
}

/* body{
  align-items: center; 
} */

.fn{
  padding-right: 45%;
}
.ln{
  padding-right: 45%;
}
.em{
  padding-right: 45%;
}
.pw{
  padding-right: 45%;
}
.cp{
  padding-right: 42%;
}
.mn{
  padding-right: 43%;
}
